.btn {
  display: block;

  width: 150px;
  height: 50px;

  border: 1px solid blue;
  border-radius: 3px;
  background-color: blue;

  font-size: 16px;
  font-weight: 700;

  color: white;
}

.btn:disabled {
  opacity: .6;

  cursor: not-allowed;
}

.btn:hover:not(:disabled) {
  background: transparent;

  color: blue;
}

.btn-inv {
  position: relative;

  display: block;

  width: 150px;
  height: 50px;

  border: 1px solid blue;
  border-radius: 3px;
  background-color: blue;

  font-size: 16px;
  font-weight: 700;

  color: white;
}

.btn-inv span {
  position: absolute;
  top: 0;
  left: 0;

  display: block;

  height: 100%;

  border-radius: 2px;

  text-align: left;
  text-indent: 54px;
  line-height: 50px;
  white-space: nowrap;

  overflow: hidden;
}

.btn-inv__inner {
  z-index: 20;

  width: 0;

  background: white;

  color: blue;

  transition: width 1s linear;
}

.btn-inv__outer {
  z-index: 10;

  width: 100%;
}

.btn-inv:hover .btn-inv__inner {
  width: 100%;

  transition: all 1s linear;
}
