.container-btn__select {
  margin-left: 5px;
}

.select {
  position: relative;

  display: flex;
  align-items: center;

  /* width: 400px;
  height: 40px;

  border: 1px solid black; */
}

.select::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 8px;

  display: block;

  width: 0;
  height: 0;

  border-style: solid;
  border-width: 10px 5px 0 5px;
  border-color: #000 transparent transparent transparent;

  pointer-events: none;
}

.select__select {
  display: block;

  width: 400px;
  height: 40px;

  padding: 5px 18px 5px 5px;

  background: none;

  border-width: 1px;
  border-color: blue;
  border-radius: 0;

  appearance: none;
  -webkit-appearance: none;

  font-size: 16px;

  cursor: pointer;
}

.select__select[disabled] {
  opacity: .4;

  pointer-events: none;
}
