.fix-container {
  width: 1000px;
  margin: 0 auto;
}

.container {
  padding: 10px;

  border-radius: 5px;

  background-color: #adadad;
}

.container__title {
  text-align: center;
}

.container__text {
  font-weight: 700;

  font-size: 16px;
}

.container__sub-text {
  font-size: 16px;
}

.container__button {
  display: block;

  width: 200px;
  height: 50px;

  margin: 20px auto 0;

  border: 1px solid #097ed2;

  border-radius: 5px;

  background-color: #097ed2;

  font-size: 16px;
  color: white;

  transition: background-color 0.2s, color 0.2s;
}

.container__button:hover {
  background: white;

  color: #097ed2;

  transition: background-color 0.2s, color 0.2s;
}
